#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#green {
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

#red {
    grid-column-start: 2;
    grid-row-start: 1;
}

#orange {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#blue {
    grid-row-start: 1;
    grid-row-end: 3;
}
ul {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr)
}