html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 249);
}

#calc {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template: 0.8fr repeat(5, 1fr) / repeat(4, 1fr);
    margin: 1em;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(184, 184, 184);
}

#result {
    background-color: #394348;
    font-size: 3.5em;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 20px 20px 0 0;
    padding-right: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#plus,
#minus,
#multiplication,
#division {
    background-color: #cbd7df;
    font-weight: bold;
}

#plus,
#minus,
#multiplication,
#division,
#n1,
#n2,
#n3,
#n4,
#n5,
#n6,
#n7,
#n8,
#n9,
#n0,
#decimal,
#AC,
#equal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    border: 1px solid #394348;
}


#plus {
    grid-column-start: 1;
    border-left: 0px;
}

#minus {
    grid-column-start: 2;
}

#multiplication {
    grid-column-start: 3;
}

#division {
    grid-column-start: 4;
    border-right: 0px;
}

#n1,
#n2,
#n3,
#n4,
#n5,
#n6,
#n7,
#n8,
#n9,
#n0,
#decimal,
#AC {
    background-color: #ecf0f3;
}

#n7 {
    grid-column-start: 1;
    grid-row-start: 3;
    border-left: 0px;
}

#n8 {
    grid-column-start: 2;
    grid-row-start: 3;
}

#n9 {
    grid-column-start: 3;
    grid-row-start: 3;
}

#n4 {
    grid-column-start: 1;
    grid-row-start: 4;
    border-left: 0px;
}

#n5 {
    grid-column-start: 2;
    grid-row-start: 4;
}

#n6 {
    grid-column-start: 3;
    grid-row-start: 4;
}

#n1 {
    grid-column-start: 1;
    grid-row-start: 5;
    border-left: 0px;
}

#n2 {
    grid-column-start: 2;
    grid-row-start: 5;
}

#n3 {
    grid-column-start: 3;
    grid-row-start: 5;
}

#n0 {
    grid-column-start: 1;
    grid-row-start: 6;
    border-left: 0px;
    border-bottom: 0px;
    border-bottom-left-radius: 20px;
}

#decimal {
    grid-column-start: 2;
    grid-row-start: 6;
    border-bottom: 0px;
}

#AC {
    grid-column-start: 3;
    grid-row-start: 6;
    border-bottom: 0px;
}

#equal {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: #ff656e;
    border-right: 0px;
    border-bottom: 0px;
    border-bottom-right-radius: 20px;
}