html, body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

#card {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(204, 204, 204);
}

#image_cap {
    object-fit: contain;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.item {
    border: 1px solid rgb(204, 204, 204);
    border-top: 0px;
}

h3 {
    padding: 2ch 20px 0;
    margin: 0;
}

p {
    padding: 2ch 26px 2ch 20px;
    margin: 0;
}

a {
    padding-right: 16px;
    margin:0;
}

#links {
    padding: 16px 20px;
    border-radius: 0 0 10px 10px;
}